// colors
$bg-color: #ffffff;
$bg-nav: #262422;
$bg-nav-button: #262422;

$white: #ffffff;
$black: #000000;
$black-secondary: #262422;
$green: #1cb854;
$blue: #2e76d0;
$dark-blue: #1c477d;

// font color
$font-color: #262422;

// action button
.action-button {
  border-radius: 15px;
  height: 3rem;
  margin: 0px 5px;
  background-color: transparent;
  min-width: 10rem;
  max-width: 15rem;

  &:hover {
    .action-button-text {
      color: $green;
    }
  }
}

.action-button-text {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: $white;
  font-weight: bold;
  transition: all 0.3s ease-in-out;
}
